<!DOCTYPE html>
<html>
<head>
  <title>Oauth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <% if current_user %>
            <ul class="nav navbar-nav pull-right">
              <li><%= image_tag current_user.google_account.image_url, alt: current_user.name %></li>
              <li><%= link_to 'Sair', logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav">
              <li><%# link_to 'Twitter', '/auth/twitter' %></li>
              <li><%# link_to 'Facebook', '/auth/facebook' %></li>
              <li><%# link_to 'Linkedin', '/auth/linkedin' %></li>
              <li><%= link_to 'Login with Google', '/auth/google' %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
 
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
 
  <%= yield %>
</div>

</body>
</html>
